# Dependencies
node_modules/
**/node_modules/

# Build
dist/
**/dist/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs & coverage
logs/
*.log
npm-debug.log*
coverage/
.nyc_output/

# Nest / test
.nest/
*.pid
*.seed
